@model TravelLibrary.App.Entities.Libro

@{
    ViewData["Title"] = "Details";
}

<h2 class="alert alert-success">DETALLES</h2>

<div>
    <h4 class="alert alert-info">Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NPaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NPaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editoriales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editoriales.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>
